body {
    margin: 40px;
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    margin-bottom: 50px;
    font-weight: 800;
    text-decoration: none;
    color: red;
    background-color: beige;
}

h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 29px;
    margin: 1px;
    font-weight: 800;
    color: blue;
    background-color: yellowgreen;
}

.content {
    min-height: calc(100vh - 120px);
    /* 80px header + 40px footer = 120px  */
}

img {
    max-width: 1800px;
    max-height: 300px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
    margin: 1px;
    color: black;
    background-color: whitesmoke;
}

em {
    font-family: 'Tangerine', serif;
}

.logo {
    background-size: cover;
    background-image: url("img/logo-emblem-black-1000.png");
    background-color: whitesmoke;
    height: 30px;
    width: 30px;
}

footer{
    display: inline-flex;
}
